USE [master]
GO
/****** Object:  Database [MerchantDB]    Script Date: 6/03/2017 4:23:43 PM ******/
CREATE DATABASE [MerchantDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MerchantDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL2016DEV\MSSQL\DATA\MerchantDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MerchantDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL2016DEV\MSSQL\DATA\MerchantDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MerchantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MerchantDB]
GO
USE [MerchantDB]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 6/03/2017 4:23:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] NOT NULL,
	[addrss1] [varchar](max) NULL,
	[addrss2] [varchar](max) NULL,
	[Suburb] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Postcode] [varchar](10) NULL,
	[Country] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchants]    Script Date: 6/03/2017 4:23:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Logo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Addresses] ([Id], [addrss1], [addrss2], [Suburb], [State], [Postcode], [Country]) VALUES (1, N'Shop 1', N'167 Avenue Road', N'Mosman', N'AU-NSW', N'2088', N'AU')
INSERT [dbo].[Addresses] ([Id], [addrss1], [addrss2], [Suburb], [State], [Postcode], [Country]) VALUES (2, N'90 Charles St', NULL, N'Putney', N'AU-NSW', N'2112', N'AU')
SET IDENTITY_INSERT [dbo].[Merchants] ON 

INSERT [dbo].[Merchants] ([Id], [DisplayName], [Email], [Phone], [Status], [Logo]) VALUES (1, N'The Classic Cupcake Co.', N'info@stormlogic.co.uk', N'+61 234 567 890', N'active', N'https://muulla.s3-ap-southeast-2.amazonaws.com/2015/09/22/5601069c-0c59cd-81c3c3-aa5c-000007.jpg')
INSERT [dbo].[Merchants] ([Id], [DisplayName], [Email], [Phone], [Status], [Logo]) VALUES (2, N'Degani Cafe', N'info@dolcini.com.au', N'9808 4111', N'active', N'https://muulla.s3-ap-southeast-2.amazonaws.com/2015/09/22/5601035e-0d0c84-81c3c3-aa5c-000005.jpg')
SET IDENTITY_INSERT [dbo].[Merchants] OFF
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_MERCHANTS_ADDRESSES] FOREIGN KEY([Id])
REFERENCES [dbo].[Merchants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_MERCHANTS_ADDRESSES]
GO
USE [master]
GO
